.message {
  top: 3rem;
  width: 40%;
  margin-left: 50%;
  left: -20%;
  position: fixed;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.message-header {
  display: flex;
  justify-content: space-between;
}

.message-header h2 {
  color: #228ecb;
}

.clear {
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  transition: 0.3s ease-out;
}

.clear:hover {
  border: 2px solid #cbcbcb;
}

.message p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
