nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  border-bottom: 1px solid #eaeaea;
}

.links,
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  width: 40px;
  margin-right: 0.5rem;
}

.brand h2 {
  transition: 0.3s;
}

.brand:hover > h2 {
  color: #228ecb;
}

.links li {
  list-style: none;
  margin-right: 1rem;
}

.links a {
  font-weight: bold;
  padding: 0.2rem 0.5rem;
}

#add a {
  color: #228ecb;
}

#add a:hover {
  background-color: #efefef;
}
