<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="Add a title" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea placeholder="What happened there?" required></textarea>
    </div>
    <div class="form-group">
        <label for="image">Add a image:</label>
        <input type="file" id="image">
    </div>
    <input type="submit" value="{{ btnText }}">
</form>