@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
  transition: 0.3s;
}

a:hover {
  color: #228ecb;
}

/*Global Form*/

form {
  width: 450px;
  margin: 1rem auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.form-group input,
textarea {
  font-size: 0.9rem;
  padding: 0.5rem;
  color: #777;
}

input[type="submit"] {
  padding: 0.2rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: #228ecb;
  color: #fff;
}
